* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 90vw;
    height: 90vh;
    /* Grid Container Prop */
    display: grid;
    grid-template-columns: [col-start] 1fr [col-2] 300px [col-end] 1fr;
    grid-template-rows: [row-start] 110px [row-2] 1fr [row-end] 30px;
}

.items {
    background-color: bisque;
    color: black;
}

.item-two {
    background-color: blueviolet;
}
.item-five {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
}
