* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary-color: #b8ead9;
    --primary-success: #a2f852;
    --secondary-color: #550686;

    /* Fonts */
    --primary-fonts: Arial, Helvetica, sans-serif;

    /* Fonts weight */
    --font-w-light: 200;
    --font-w-medium: 400;
    --font-w-semibold: 600;
    --font-w-bold: 800;

    /* padding */
    --padding-xs: 5px;
    --padding-sm: 15px;
    --padding-lg: 30px;
    --padding-xl: 60px;

    /* margin */
    --margin-xs: 5px;
    --margin-sm: 15px;
    --margin-lg: 30px;
    --margin-xl: 60px;

    /* boder-radius */
    --border-radius-xs: 5px;
    --border-radius-sm: 15px;
    --border-radius-lg: 30px;
    --border-radius-xl: 60px;

    /* title */
    --title-xl: 3rem;
    --title-md: 1.5rem;
    --title-sm: 0.8rem;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}

.btn {
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: var(--font-w-medium);
    font-family: var(--primary-fonts);
}
.btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: var(--margin-lg);
}

.btn-success {
    background-color: var(--primary-success);
    color: var(--secondary-color);
    margin: var(--margin-lg);
}

.main-title {
    font-size: var(--title-xl);
}
.sub-title {
    font-size: var(--title-md);
}
.tag-title {
    font-size: var(--title-sm);
}
