* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    /* Flex Container */

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: nowrap;
    flex-direction: column;

    /* short hand */
    flex-flow: column nowrap;

    /* Grid Container */

    /* display: grid;
    place-content: center; */
    height: 100vh;
}

.container {
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    /* background: #ffe0e0; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 10px;
}
.box {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 10px; */
}
.box-one {
    background-color: #f9a8d4;
}
.box-two {
    background-color: #8b5cf6;
}
.box-three {
    background-color: #10b981;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap-reverse;
}

.wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.wrap li {
    background: gold;
}
.wrap-reverse li {
    background: deepskyblue;
}

.flex-item {
    background: tomato;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 10px;

    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
