* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

/* Mobile First Design */

/* Mobile.  ------> Desktop   Default will apply to mobile and rest it will add */

/* Desktop First Design */

/* Desktop  ------> Mobile  Default will apply to default and rest it will add */

/* body {
    height: 100vh;
    width: 100vw;
}

@media all and (max-width: 620px) {

    body {
        background-color: rgb(161, 255, 167);
    }
}

@media all and (min-width: 620px) {
 
    body {
        background-color: aqua;
    }
}


/* < <= > >= = */

/* @media (width >= 620px) {

} 

@media (width <= 620px) {
    
} 

@media (620px <= width <= 1280px) {
    
}  */

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    gap: 40px;
}

nav {
    width: 80vw;
    height: 40px;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
}

.hamburger {
    display: none; /* Hidden By Default */
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.box {
    width: 420px;
    height: 110px;
}
.box {
    background-color: blanchedalmond;
}
.box:first-child {
    background-color: blue;
}

.box:last-child {
    background-color: rgb(153, 255, 169);
}

/* Media Queries - Desktop First Approach */

/* @media (max-width: 620px) {
    .hamburger {
        display: block;
    }
    nav ul {
        display: none;
    }
} */

@media (width <= 620px) {
    .hamburger {
        display: block;
    }
    nav ul {
        display: none;
    }
    .container {
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
}
