@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.main-header {
    background-color: #0053e2;
    height: 90px;
    padding: 20px 60px;

    display: flex;
}
.brand-logo {
    height: 40px;
}
.location {
    height: 40px;
    background-color: #002e99;
    width: 240px;
    margin: 0 40px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
}
.location-text {
    color: aliceblue;
    margin: -6px;
}
.location-text h2 {
    font-size: 14px;
    /* margin-bottom: 5px; */
}
.location-text p {
    font-size: 10px;
    margin-top: 5px;
}
.hand-deliver {
    height: 20px;
    margin-right: 20px;
}

.search-bar {
    background-color: #fff;
    height: 40px;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
}
.input-search {
    height: 40px;
    width: 500px;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    margin-top: -5px;
}
.search-button {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
}
.cta-button {
    cursor: pointer;
    width: 180px;
    height: 60px;
    border-radius: 90px;
    padding: 10px 30px;
    display: flex;
    color: aliceblue;
}

.cta-button:hover {
    background-color: #002e99;
}

.fa-solid {
    padding: 10px 5px;
    font-size: 15px;
}
.fa-heart {
    color: #f00;
}
.fa-cart-shopping {
    color: aquamarine;
}

.signin:hover {
    background-color: #d507fe;
}
.sign-in {
    font-weight: 600;
    font-style: italic;
}
